* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 15vw;
}

header {
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 40%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}


li {
    width: 10vw;
    background-color: rgb(246, 118, 72);
    border-radius: 5px;
    padding: 5px;
}

li:hover {
    font-weight: bold;
    transform: scale(110%);
    color: brown;
    transition: 1.5s ease-in-out;
    cursor: pointer;
}

main {
    display: flex;
    background-color: brown;
    flex-direction: row;
    flex-direction: column;
}

.primeiro,
.segundo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.primeiro div {
    line-height: 2.0;
    margin-left: 20px;
}

main figure img {
    border-radius: 4px;
}

.segundo h2 {
    color: #af9c9f;
    font-size: 3rem;
    text-align: center;
}